#chat-screen{
    background-color: rgb(35, 95, 105);
    height: 100vh;
}
#chat-screen .status-bar,
#chat-screen .menu-header{
    color: aliceblue;
    background-color: var(--screen-blue);
}
@keyframes fadeIn{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.main-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.6s linear;
}
.chat__timestamp{
    background-color: var(--grey-color-0200);
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 25px;
}
.message-row{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.message-row img{
    width: 45px;
    height: 45px;
    border-radius: 18px;
    margin-right: 6px;
    
}
.message__author{
    color: white;
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}
.message__bubble{
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    border-top-left-radius: 0;
    margin-right: 3px;
    font-size: 16px;
}
.message__info{
    display: flex;
    align-items: end;
}
.message__time{
    font-size: 12px;
    color: aliceblue;
}
.message-row__content{
    margin-top: 3px;
}
.message-row--own{
    justify-content: end;
}
.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
    margin-right: 0;
    margin-left: 3px;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(20, 55, 60);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s linear;
}
.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:first-child i{
    color: aliceblue;
}
.reply .reply__column:last-child{
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}
.reply input{
    color: white;
    height: 35px;
    width: 100%;
    border: var(--border);
    outline: none;
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s linear;
    background-color: rgb(31, 96, 96);
}
.reply input::placeholder{
    color: white;
}
.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: 0;
}
.reply__column:last-child > i{
    right: 50px;
    font-size: 24px;
    color: white;
    opacity: 0.6;
    height: 30px;
    position: absolute;
    top: 3px;
    display: flex;
    align-items: center;
}
.reply__column:last-child button{
    border-radius: 50%;
    background-color: var(--yellow);
    width: 35px;
    height: 35px;
    border: none;
}
.reply__column:first-child i{
    font-size: 24px;
    opacity: 0.6;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button{
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
    opacity: 0;
}
.reply input:focus{
    transform: translateX(-17.5px) translateY(-50px);
    border-radius: 5px;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.reply:focus-within{
    transform: translateY(50px);
}