.menu-header{
    padding: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    background-color: aliceblue;
    z-index: 2;
    color:aliceblue;
}
.menu-header__title{
    font-size: 20px;
    font-weight: 800;
}
.menu-header__column{
    display: flex;
    align-items: center;
    width: 33%;
}
.menu-header__column:first-child{
    justify-content: flex-start;
}
.menu-header__column:nth-child(2){
    justify-content: center;
}
.menu-header__column:last-child{
    justify-content: flex-end;
}
.menu-header__column:last-child i{
    margin-left: 20px;
}