.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 35px;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: rgb(50, 50, 50);
}
.nav__notification{
    background-color: tomato;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 12px;
    bottom: 8px;
}
.dot{
    width: 6px;
    height: 6px;
    left: 20px;
    bottom: 16px;
}
