.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 35px;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: rgb(50, 50, 50);
}


