#no-mobile{
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: var(--screen-blue);
    top: 0%;
    right: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}
@media screen and (min-width: 501px){
    #no-mobile{
        display: flex;
    }       
    body{
        overflow: hidden;
    }
}