.red-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
}
.nav__notification-badge{
    position: absolute;
    left: 15px;
    bottom: 10px;
    animation: notificationAnimation 2s ease-in-out infinite;
}
.screen-dot{
    top: -5px;
}
.nav__notification-dot{
    left: 20px;
    top: 0px;

}
.badge{
    background-color: tomato;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
}
.red-exclaim{
    font-size: 10px;
    font-weight: 800;
    padding: 0px 5px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    margin-left: 3px;
}
@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}