.status-bar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--screen-blue);
    color: aliceblue;
    z-index: 3;
}
.status-bar__column{
    display: flex;
    align-items: center;
    width: 33%;
}
.status-bar__column:first-child span{
    margin-right: 5px;
}
.status-bar__column:nth-child(2){
   font-weight: 600;
   justify-content: center;
}
.status-bar__column:nth-child(3){
    justify-content: flex-end;
   
}
.status-bar__column:nth-child(3) .fa-battery-three-quarters{
    margin: 0px 5px;
}